.dropzone {
    min-height: auto !important;
    border: none !important;

}

.dropzone-target {
    background: #f3f3f3;
    border: 1px dashed #999 !important;



    color: #999;
    font-size: 1.2em;
    padding: 2em 2em 0;
}

.dropzone-previews {
    background: #f0f3f9 !important;
    padding: 2em;

}



.dropzone.dz-drag-hover {
    background: #ececec;
    border-bottom: 2px dashed #999;
    border-left: 2px dashed #999;
    border-right: 2px dashed #999;
    color: #333;
}

.dz-message {
    text-align: center;
}

.dropzone .dz-preview .dz-image-no-hover {
    border-radius: 20px;
    cursor: move;
    display: block;
    height: 120px;
    overflow: hidden;
    position: relative;
    width: 120px;
    z-index: 10;
}
