@font-face {
  font-family: 'Helvetica';
  src: url('/front/font/Helvetica.eot');
  src: url('/front/font/Helvetica.eot?#iefix') format('embedded-opentype'),
  url('/front/font/Helvetica.woff2') format('woff2'),
  url('/front/font/Helvetica.woff') format('woff'),
  url('/front/font/Helvetica.ttf') format('truetype'),
  url('/front/font/Helvetica.svg#Helvetica') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica_bold';
  src: url('/front/font/Helvetica-Bold.eot');
  src: url('/front/font/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
  url('/front/font/Helvetica-Bold.woff2') format('woff2'),
  url('/front/font/Helvetica-Bold.woff') format('woff'),
  url('/front/font/Helvetica-Bold.ttf') format('truetype'),
  url('/front/font/Helvetica-Bold.svg#Helvetica-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica_Neue';
  src: url('/front/font/HelveticaNeue-CondensedBold.eot');
  src: url('/front/font/HelveticaNeue-CondensedBold.eot?#iefix') format('embedded-opentype'),
  url('/front/font/HelveticaNeue-CondensedBold.woff2') format('woff2'),
  url('/front/font/HelveticaNeue-CondensedBold.woff') format('woff'),
  url('/front/font/HelveticaNeue-CondensedBold.ttf') format('truetype'),
  url('/front/font/HelveticaNeue-CondensedBold.svg#HelveticaNeue-CondensedBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

.carousel-fade .carousel-item {
 opacity: 0;
 transition-duration: .6s;
 transition-property: opacity;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
 opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
 transform: translateX(0);
 transform: translate3d(0, 0, 0);
}

body {
  background: #f8f8f8 !important;
  font-family: 'Helvetica' !IMPORTANT;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{font-family: 'Helvetica_bold';}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p{    color: #3a3a3a; }
.banner-head {
  height: 750px;
  background-size: auto 100%;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media(min-width:1100px){
  .banner-head {background-size: 100% auto !important;}
}
header {
  width: 100%;
  clear: both;
  float: left;
  position: relative;
}
.search-bar {
  float: left;
  width: 30%;
  padding: 2%;
}

.home-page .container{

}

.map-grid h1{
  margin: 0px 0px;
  padding: 40px 0px;
}



.stick-to-top{
  position: -webkit-sticky!important;
  position: sticky!important;
  top: 0px!important;
}

.logo {
  float: left;
}
.logo img{
  height: 40px;
  margin-top: 30px;
  filter: brightness(100);
}

.common-page .logo img{
  filter: brightness(1);
}

.logo-footer img{
  height: 40px;
}

.nav-link{
  text-transform: uppercase;
  font-size: 1rem;
}

.search-bar input.form-control {
  padding: 25px 25px 25px 50px !important;
  background: #ffff url("/front/images/search-icon.png") no-repeat left 10px center;
  background-size: 28px;
  font-size: 16px;
  font-weight: bold;
  color: #8b8b8b !important;
}
.menu-bar {
  float: right;
}
.explore-amazing {
  float: left;
  width: 100%;
}
.login-registration a {
  font-weight: bold;
  color: #535353;
  background: #fff;
  border-radius: 5px;
  padding: 10px 20px 7px;
  font-family: 'Helvetica_bold';
}
.login-registration a:hover {
  color: #000000;
  text-decoration: none;
}
.menu-bar a.nav-link {
  color: #fff !important;
}

.menu-bar a.nav-link.special-link, .btn-talixo-special{
  background: #c16147;
    border-radius: 18px;
    border-bottom: 4px solid white;
    box-shadow: 0px 6px 8px rgba(0,0,0,0.25);
    transition: 0.5s all;
    padding: 5px 15px;
    margin-right: 10px;
}

.common-page .menu-bar a.nav-link.special-link{
  color: #fff!important;
  margin-right: 10px;
}

.menu-bar a.nav-link.special-link:hover{
  margin-top: -5px;
}

span.currency {
  position: relative;
  top: 2px;
}
li.country-symbol {
  padding: 6px 30px 0 10px;
  color: #fff;
}
li.country-symbol span {
  padding: 0 5px;
  font-weight: bold;
}
li.login-registration {
  position: relative;
  top: 6px;
}
.menu-bar ul.navbar-nav {
  margin-top: 22px;
}
.explore-amazing .col-md-5 h2 {
  font-weight: bold;
  color: #fff;
  font-size: 30px;
  line-height: 34px;
  padding-bottom: 30px;
}

.explore-amazing .search-widget-categories a{
  border-color: #fff;
  background: #fff;
  border: 6px solid white;
  transition: 0.3s all;
}

.explore-amazing .search-widget-categories a:hover{

  border: 6px solid #c16147;


}

input.form-control, select.form-control{
  box-shadow: 0px 3px 4px #dcdcdc;
  border: 0;
  padding: 0px 20px;
  font-size: 18px;
  color: #535353;
  height:50px;
}

.footer-banner input.form-control, .footer-banner select.form-control{

  padding: 0px 50px;

}

.form-group {
  margin-bottom: 1.5rem;
}
.search-place input[type="submit"] {
  background: #eeeeee;
  border-radius: 10px;
  box-shadow: none;
  outline: none;
  border: 0;
  padding: 15px 20px;
  width: 220px;
  font-size: 20px;
  color: #555;
  text-align: center;
  font-weight: bold;
  float: right;
  margin: 10px 0;
}
.explore-amazing .col-md-5 {
  /*background: rgba(255,255,255,0.25);
  border: 1px solid #fff;
  */
  padding: 20px 30px 0px 0px;
  border-radius: 10px;
  margin: 3% 0 0;
}
.form-group.search-place input.form-control {
  background: url("/front/images/search-icon-opacity.jpg") no-repeat left 10px center;
  background-size: 25px;
}
.form-group.calendar-new input.form-control {
  background: url("/front/images/calendar.png") no-repeat left 10px center;
  background-size: 25px;
}
.form-group.people-place input.form-control {
  background: url("/front/images/people.jpg") no-repeat left 10px center;
  background-size: 25px;
}
.search-place input[type="submit"] {
  background: #eeeeee url("/front/images/search-icon.png") no-repeat;
  border-radius: 10px;
  box-shadow: none;
  outline: none;
  border: 0;
  padding: 15px 20px 13px;
  width: 220px;
  font-size: 20px;
  color: #555;
  text-align: center;
  font-weight: bold;
  float: right;
  margin: 10px 0;
  background-position: left 60px center;
  background-size: 30px;
  text-indent: 25px;
  font-family: 'Helvetica_bold';
}
.company-features-inner {
  background: #fff;
  margin-right: 1.33%;
  max-width: 24% !important;
  padding: 20px 5px !important;
  border-radius: 10px;
  /*box-shadow: 0px 7px 4px #dcdcdc;*/
  height: 120px;
  transition:0.5s all;
}

.company-features-inner:hover{
  margin-top: -10px!important;
  /*box-shadow: 0px 10px 4px #dcdcdc;*/
}

.company-features-inner img {
  float: left;
  width: 70px;
}
.company-inner-data {
  width: auto;
  vertical-align: middle;
  display: grid;
  padding-left: 2%;
  word-break: break-word;
  padding-top: 15px;
}
.company-features-inner:last-child{margin-right:0;}
.company-inner-data h3 {
  font-size: 16px;
  font-weight: bold;
}
.company-inner-data p {
  margin-bottom: 0;
}
.company-inner-data h3 {
  margin-bottom: 5px;
}
.company-inner-data p {
  font-size: 14px;
}
.discover-experience-head {
  width: 100%;
  float: left;
  padding: 70px 0;
}
.discover-experience-main {
  float: left;
  width: 100%;
}
.discover-experience-head h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
.discover-experience-head p {
  font-size: 20px;
}

.discover-experience-main {
  float: left;
  width: 100%;
}
.discover-inner img {
  width: 100%;
  height: 100%;
}

.discover-img-wrapper{
  position: relative;
  height: 230px;
  overflow: hidden;
}

.discover-img {
  position: relative;
  height: 230px;
  transition: 0.8s all;
}

.product-grid-element:hover .discover-img{
  transform: scale(1.2)
}

.discover-inner {
  margin-bottom: 10%;
  transition: 0.7s all;
  border-radius: 6px;
  overflow: hidden;
  padding-bottom: 10px;
}

  .discover-inner:hover{
    box-shadow: 0px 0px 18px rgba(0,0,0,0.13)
  }

.discover-data {
  padding: 15px;
}
.location-name {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}
.discover-data p {
  font-size: 16px;
  margin-bottom: 0;
}
span.travel-price {
  color: #1c61ce;
}

.map-duration span {
  font-size: 16px;
  padding-left: 30px;
  height: 30px;
  vertical-align: middle;
  display: inline-block;
  float: left;
  line-height: 30px;
  padding-right: 10px;
}

span.map-loc { background: url("/front/images/map_loc.png") no-repeat; color:#595959;}
span.jounery-duration { background: url("/front/images/time-icon.png") no-repeat; color:#595959;}
span.star-rating{ background: url("/front/images/star-icon.png") no-repeat; color:#595959;}
span.map-loc, span.jounery-duration, span.star-rating{ background-size: 18px; background-position: left center;}
.map-duration {
  float: left;
  width: 100%;
}
.calendar-checkin-checkout {
  float: left;
  width: 100%;
  padding-left: 35px;
  background: url("/front/images/calendar.png") no-repeat;
  font-size: 12px;
  background-position: left center;
  background-size: 26px;
  position: relative;
  color: #595959;
}

span.more-option {
  background: #5a5858;
  color: #fff;
  padding: 1px 5px;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  left: 2px;
  top: 5px;
  text-decoration: none!important;
}
span.more-option:hover {
  color: #762021;
  text-decoration: none;
  background: #fff;
}
.calendar-checkin-checkout span {
  text-decoration: underline;
}
.custom-travel-main {
  width: 100%;
  float: left;
  margin: 80px 0;
  background: url(/front/images/mid-banner.jpg);
  height: 400px;
  background-size: 100% auto;
  background-position: center center;
}

.red-area {
  margin-top: 70px;
  margin-bottom: 10px;
}
.red-area p {
  background: #c16147;
  padding: 10px 20px;
  margin: 0;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 3.2rem;
  width: auto;
  line-height: 50px;
  font-family: 'Helvetica_Neue';
}
p.your-half {
  width: 70%;
  line-height: 0;
}
.grey-btn {
  background: #eeeeee !IMPORTANT;
  color: #535353;
  padding: 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  width: 100%;
  display: block;
  font-size: 18px;
  max-width: 350px;
  font-family: 'Helvetica_bold';
}
.grey-btn span {
  float: right;
  font-size: 24px;
  font-family: monospace;
  line-height: 28px;
  padding-left: 15px;
}
.grey-btn:hover {
  text-decoration: none;
}
.discover-experience-head.inspiration-head {
  padding: 0 0 30px;
}
.col-sm-4 .inspiration-travel-inner {
  padding: 0 10px;
  margin-bottom: 20px;
  position: relative;
  height: 240px;
  transition: 0.3s all;
  display: block;
}

.col-sm-4 .inspiration-travel-inner:hover{
  transform: scale(1.2);
  box-shadow: 0px 7px 12px rgba(0,0,0,0.25);
  border: 8px solid white;
  z-index: 99;
}



.col-sm-4 .inspiration-travel-inner .inspiration-travel-inner-banner{
  position: absolute;
  height: 60px;
  width: 80%;
  text-align: left;
  padding-left: 15px;
  left: 20px;
  bottom: 20px;
  background-color: #c16147;
}

.col-sm-4 .inspiration-travel-inner .inspiration-travel-inner-banner span{
  color: #fff;
  font-size: 30px;
  margin-top: -15px;
  display: block;
  line-height: 30px;
  text-transform: uppercase;
    font-family: 'Helvetica_Neue';
}

.inspiration-travel-inner img{width:100%;}
.col-sm-4 .inspiration-travel-inner p {
  position: absolute;
  bottom: 10px;
  color: #fff;
  font-size: 20px;
  left: 35px;
}
.col-sm-4 .inspiration-travel-inner.cross1 p {
  left: 43px;
  bottom: 6px;
  font-size: 15px;
}
.col-sm-4 .inspiration-travel-inner.cross2 p {
  bottom: 6px;
}
.col-sm-12.inspiration-travel {
  float: left;
  width: 100%;
}
.sell-out {
  position: absolute;
  bottom: 10px;
  z-index: 9;
  left: 10px;
  border-radius: 5px;
  background: #c16147;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  padding: 4px 10px;
}
.vip-label {
  position: absolute;
  bottom: 10px;
  z-index: 9;
  left: 10px;
  border-radius: 5px;
  background: #FFD700;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  padding: 4px 10px;
}

.col-sm-12.suggestion-tag {
  float: left;
  width: 100%;
}
.custom-travel-main .col-sm-4 {
  max-width: 350px !important;
}
p.grey-btn-area-para {
  text-align: center;
  width: 100%;
}
p.grey-btn-area-para a.grey-btn {
  margin: 0 auto;
}
.suggestion-tag li a {
  text-decoration: none;
  color: #535353;
  list-style: none;
  padding: 20px 50px;
  border: 1px solid #535353;
  border-radius: 40px;
  margin: 0 10px 20px;
}
.suggestion-tag li {
  list-style: none;
  display: inline-flex;
  color: #535353;
}
.suggestion-tag ul {
  margin: 0 auto;
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 0;
}
.second-ul {
  margin-bottom: 50px !important;
}
.blue-area {
  position: absolute;
  top: 10px;
  background: #48689a;
  color: #fff;
  border-radius: 5px;
  border: 3px solid #fff;
  padding: 2px 2px;
  width: 70px;
  text-align: center;
  right: 10px;
}
.rate {
  display: block;
  font-size: 24px;
  font-weight: bold;
}
.avg {
  font-size: 14px;
}
input.form-control {
  background-color: #fff !important;
}
.jumbotron.footer-banner {
  float: left;
  width: 100%;
  background: #f8f8f8 url("/front/images/footer_banner.png") no-repeat;
  background-size: 100% auto;
  background-position: bottom -40px center;
  margin: 0;
  border-top: 5px solid #c16147;
  margin-top: 70px;
  min-height: 700px;
}
.footer-first-col h3 {
  color: #535353;
  font-weight: bold;
  font-size: 20px;
  margin: 25px 0;
}
.footer-first-col p {
  color: #000;
  line-height: 30px;
  font-size: 15px;
}
.footer-banner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-footer ul li {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
.social-footer ul li a.social-link {
  width: 40px;
  height: 40px;
  display: block;
  cursor: pointer;
  background-size: 100%;
}
.twit { background: url("/front/images/twitter.png") no-repeat;}
.pin { background: url("/front/images/pin.png") no-repeat;}
.fb { background: url("/front/images/fb.png") no-repeat;}
.insta { background: url("/front/images/insta.png") no-repeat;}
.footer-links {
  padding-top: 125px;
}
.footer-links li {
  height: 35px;
}
.footer-links li a {
  color: #000;
}
.footer-links {
  padding-top: 125px;
  min-height: 347px;
  height: auto;
  position: relative;
}
.red-btn-footer {
  background: #c16147;
  box-shadow: 0px 4px 5px #dfdfdf;
  border: 0;
  outline: none;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  font-family: 'Helvetica_bold';
}
.subscribe-newsletter h2 {
  color: #535353;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 0;
  font-family: 'Helvetica_Neue';
}
.col-sm-3.footer-fourth-col {
  width: 30% !important;
  max-width: 30% !important;
  flex: 0 0 30%;
}
.col-sm-3.footer-second-col {
  width: 22.5% !important;
  max-width: 22.5%;
}
.subscribe-newsletter p {
  font-size: 17px;
}
.email input.form-control { background: #fff url("/front/images/mail.png") no-repeat left 10px center; background-size: 30px;}
.nationality .form-control {
  background-image: url(/front/images/flag.png);
  background-size: 30px, 12px;
  background-repeat: no-repeat;
  background-position: left 10px center, right 14px center;
}
.gender select.form-control {
  background-image: url(/front/images/gender.png) , url(/front/images/select_arrow.png);
  background-size: 30px, 12px;
  background-repeat: no-repeat;
  background-position: left 10px center, right 14px center;
}
.subscribe-form .form-group.calendar input.form-control {
  background-image: url(/front/images/calendar.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: left 10px center;
}
.subscribe-form input[type="submit"], .btn-talixo-light {
  background: #eeeeee !IMPORTANT;
  color: #535353;
  padding: 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  width: 100%;
  display: block;
  font-size: 18px;
  border: 0;
  outline: none;
  box-shadow: 0px 3px 3px #e0e0e0;
  font-family: 'Helvetica_bold';
    transition: 0.5s all;
}

.btn-talixo-light:hover{
        background-color: #c16147!important;
    color: #fff!important;
}

.col-sm-3.footer-fourth-col {
  width: 30% !important;
  max-width: 30% !important;
  flex: 0 0 30%;
  background: #f8f8f8;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.checkbox input[type="checkbox"] {
  opacity: 0;
  font-size: 0;
  line-height: 0;
  width: 30px;
  position: absolute;
  left: 0;
  height: 30px;
  cursor: pointer;
}
.checkbox input[type="checkbox"] + label {
  background: url("/front/images/checkbox_not_selected.png") no-repeat;
  padding-left: 40px;
  background-size: 30px;
  color: #595959;
  font-size: 15px;
}
.checkbox input[type="checkbox"]:checked + label{background: url("/front/images/checkbox.png") no-repeat;  background-size: 30px;}
.checkbox {
  position: relative;
  margin-bottom: 10px;
}

/* product page */

.common-page .jumbotron.banner-head { height: 130px; background: #fff !important; padding-top: 15px; padding-bottom: 15px; margin-bottom: 0;}
.common-page a.nav-link, .common-page span.currency{ color: #595959 !important;}
.common-page .login-registration a {font-weight: bold; color: #fff; background: #c16147;}
.common-page .login-registration a:hover {color: #762021;}
.jumbotron.product-banner img {width: 100%;}
.jumbotron.product-banner {
  padding-left: 0;
  padding-right: 0;
  float: left;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  background: #fff;
  overflow: hidden;
  margin-bottom: 0;
  border-radius: 0;
}
.jumbotron.product-banner img {
  margin-top: 2px;
  margin-bottom: 2px;
}

  .jumbotron.product-banner .col-sm-6, .jumbotron.product-banner .col-sm-3{
    padding: 2px;
  }

.jumbotron.black-banner {
  float: left;
  width: 100%;
  border-radius: 0;
  background: #f8f8f8;

  margin-bottom: 0;
  margin-top: 3px;
}
.common-page .container {
  clear: both;
}
.jumbotron.black-banner h2, .jumbotron.black-banner p {
  color: #333;
}
.jumbotron.black-banner h2 {
  margin-bottom: 0;
}
.jumbotron.black-banner h2 {
  margin-bottom: 0;
  font-size: 34px;
  font-weight: bold;
}
.black-banner ul.inclusions {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
  float: right;
  width: 440px;
}
.black-banner ul.inclusions li {
  float: left;
  text-align: center;
  padding: 0 10px;
  width: 25%;
  max-width: 110px;
}
.black-banner ul.inclusions li p span {
  color: #abaaaa;
  font-size: 14px;
}
.black-banner ul.inclusions li p {
  margin-bottom: 0;
  font-size: 20px;
}
.black-banner ul.inclusions li img {
  width: 70px;
  filter: brightness(0.3);
}

.breadcrum {
  float: left;
  width: 100%;
  border-bottom: 2px solid #c16147;
  padding: 20px 0;
  margin-bottom: 30px;
  background: #f8f8f8 !important;
  z-index: 9;
  box-shadow: 0px 7px 6px rgba(0,0,0,0.15)
}
.breadcrum ul li {
  float: left;
  padding-right: 20px;
  margin-right: 20px;
  position: relative;
}
.breadcrum ul li:last-child{padding-right: 0px; margin-right: 0px;}
.breadcrum ul li a {
  color: #000;
  text-decoration: none;
}
.breadcrum ul li a.active {
  color: #c16147;
}
.breadcrum ul li a:hover{color:#c16147;}
.breadcrum ul li:after {
  border-radius: 100%;
  width: 5px;
  height: 5px;
  background: #c16147;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 10px;
}
.breadcrum ul li:last-child:after {display:none;}
.product-details h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333333;
  margin: 70 0px 70px 0px;
}
.calendar-top-area-left h2{
  margin: 0px;
}

.product-details p {
  font-size: 18px;
  text-align: justify;
}
.day h2 {
  text-align: center;
  padding: 50px 0;
}
.date-time-min span {
  font-weight: bold;
  font-size: 24px;
  color: #595959;
}
.date-time-min p {
  text-align: right;
  margin-bottom: 0;
}
.date-time-min{ }
.date-time-min .day-counter {
  position: absolute;
  right: 0;
  border: 2px solid #989898;
  padding: 10px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  text-align: center;
  color: #595959;
  top: 20px;
  font-size: 22px;
  font-weight: bold;
  line-height: 35px;
  background: #f8f8f8;
}
.date-time-min .day-counter:after {
  content: "";
  display: block;
  height: 290px;
  background: #989898;
  width: 2px;
  position: relative;
  top: 12px;
  left: 18px;
}
.pro-pic-inner img {
  width: 100%;
}
.col-sm-4.day, .col-sm-8.pro-desc {
  float: left;
}
.pro-desc-inner {
  margin-top: 30px;
}
.pro-desc-inner {
  margin-top: 30px;
  width: 90%;
  float: right;
  margin-bottom: 50px;
  position: relative;
}
.pro-pic-inner img {
  width: 100%;
}
.pro-pic-inner {
  height: 200px;
  overflow: hidden;
}
.venue-details {
  background: #fff;
  padding: 20px;
  box-shadow: 0px 8px 5px #e4e4e4;
  border-radius: 10px;
  text-align: center;
}
.product-details .venue-desc p {
  text-align: center;
  color: #000;
  font-size: 16px;
}
.venue-title h3 {
  font-weight: bold;
  font-size: 20px;
  padding: 10px 0;
}
.venue-duration{
  text-align: left;
}
.venue-duration span {
  font-size: 15px;
  color: #595959;
  padding-left: 35px;
  margin-left: 5px;
}
.venue-duration span.service-hotel {
  background: url("/front/images/diamond.png") no-repeat;
  background-size: 24px;
  background-position: left 6px top -1px;
}
.venue-duration span.duration-hotel {
  background: url("/front/images/time-icon.png") no-repeat;
  background-size: 16px;
  background-position: left 9px center;
}
.venue-action a {
  background: #eaeaeb;
  padding:11px 11px 11px 40px;
  border-radius: 5px;
  color: #595959;
  font-weight: bold;
  text-decoration: none !important;
  box-shadow: 0px 3px 3px #ccc;
  margin-right: 10px;
  display: inline-block;
  margin-bottom: 10px;
}
.venue-action a.venue-modify {
  background: #c16147 url("/front/images/edit_white.png") no-repeat;
  background-size: 21px;
  background-position: 13px;
  color: #fff;
}
a.venue-search {
  background: #eaeaeb url("/front/images/search-icon.png") no-repeat;
  background-size: 25px;
  background-position: 10px;
}
a.close-pro {
  position: absolute;
  right: 15px;
  top: 15px;
  background: url("/front/images/close_grey.png") no-repeat;
  width: 35px;
  height: 35px;
  z-index: 1;
  background-size: 100%;
}
.venue-desc {
  margin-bottom: 30px;
  color: #595959
}
.venue-action {
  height: auto;
}
.product-banner .col-sm-6 {
  height: 35vw;
  overflow: hidden;
}

.product-banner .col-sm-6 .img-holder{
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.product-banner .col-sm-3 {
  height: 35vw;
  overflow: hidden;
}
.product-banner .col-sm-3 .img-holder {
  height: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fleft{float:left;}
.second-timer .date-time-min .day-counter:before {
  content: "";
  display: block;
  height: 290px;
  background: #989898;
  width: 2px;
  position: relative;
  top: 12px;
  left: 18px;
}
.second-timer .date-time-min .day-counter:after{display:none;}
.pos-top, .pos-bottom {
  position: relative;
  min-height: 200px;
  padding-right: 80px;
}
.pos-bottom .date-time-min .day-counter:before {
  content: "";
  display: block;
  height: 462px;
  background: #989898;
  width: 2px;
  position: relative;
  left: 18px;
  top: -472px;
}
.pos-top .date-time-min, .pos-bottom .date-time-min {
  padding-right: 0px;
}
.pos-bottom .date-time-min {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 80px;
}
.pos-bottom .date-time-min .day-counter:after{display:none;}
.pos-bottom .date-time-min .day-counter span {
  position: absolute;
  left: 20px;
  top: 0px;
  background: #f8f8f8;
  z-index: 9;
  width: 18px;
  height: 56px;
  line-height: 57px;
  border-radius: 100%;
}

.add-activity {
  position: absolute;
  right: -20%;
  background: #c16147;
  color: #fff;
  border-radius: 40px;
  border: 0;
  outline: none;
  font-size: 18px;
  padding: 15px 50px;
  z-index: 1;
  margin-top: -40px;
}
button:focus {
  outline: none;
  outline: none;
}
.map iframe {
  width: 100%;
}
.map{margin-bottom:30px}
.rating-block h2 {
  height: 60px;
  font-weight: bold;
}
.rating-block h2 img {
  position: relative;
  top: -3px;
  width: 150px;
}
.customer-review .col-sm-1 {
  text-align: right;
}
.customer-review .col-sm-1 img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.customer-review .col-sm-1 {
  color: #c16147;
  font-weight: bold;
  padding: 0px 0 20px;
}
.pro-date {
  font-size: 12px;
}

.un-like-text {
  color: #999999;
}
.like-text {
  color: #c16147;
}
.customer-review .col-sm-10 {
  color: #595959;
  font-size: 15px;
}
.customer-review .col-sm-12 {
  margin-bottom: 10px;
}
.customer-review {
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.pro-title {
  padding-bottom: 5px;
}
.pro-title .country-flag img {
  width: 20px;
  margin-left: 10px;
}
.customer-review {
  padding-bottom: 40px;
  margin-bottom: 50px;
  border-bottom: 1px solid #999999;
}
.customer-review:last-child{border-bottom: none;}
.rating-block h2 {
  height: 60px;
  font-weight: bold;
  margin: 50px 0 30px;
  font-size: 2rem;
  color: #333333;
}

.calendar-top-area {
  background: #333;
  color: #ffff;
  padding: 5px 0px;
  width: 100%;
  float: left;
}
.calendar-top-area .calendar-top-area-left, .calendar-top-area-right {
  float: left;
  padding: 0;
}

.calendar-top-area h2, .calendar-top-area p{color:#fff; margin-bottom: 0;}
.calendar-top-area h2{font-size:1.5rem;}
.calendar-top-area-right span {
  font-size: 2.5rem;
  display: block;
  font-weight: bold;
  line-height: 40px;
}
.calendar-top-area-right {
  text-align: right;
}
.calendar-top-area-right.col-sm-5 {
  font-size: 12px;
}
.checkout-login .form-group.col-sm-6 {
  padding-right: 0;
}

.caution.col-sm-6 p {
  margin: 0;
  font-size: 11px;
}
.caution {
  background: url(/front/images/cautions.png) no-repeat;
  background-size: 100% auto;
  height: auto;
  min-height: 80px;
  text-align: left;
  padding-left: 175px !IMPORTANT;
  font-size: 14px;
  padding-top: 16px;
  word-spacing: normal;
  letter-spacing: 0;
  padding-right: 70px !important;
  margin-bottom: 40px;
}
.checkout-second-step textarea {
  box-shadow: 0px 3px 4px #dcdcdc;
  border: 0;
  font-size: 18px;
  color: #535353;
  min-height: 150px;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-clip: padding-box;
  font-weight: 400;
  line-height: 1.5;
  display: block;
  width: 100%;
  padding: 20px;
  resize: none;
}
.checkout-second-step .form-group.col-sm-6, .checkout-second-step .form-group.col-sm-12 {
  padding-right: 0;
}
.checkout-second-step {
  margin-bottom: 30px;
}
.radio-left {
  float: left;
  width: 60px;
}
.radio-right {
  float: right;
}
.col-sm-12.checkout-details{
  margin-top: 25px;
}

.checkout .checkout-details input.form-control, .checkout .checkout-details select.form-control {
  padding: 0 20px;
}

.radio-right .form-group.col-sm-12 {
  margin-left: 0;
  padding-left: 0;
  width: 90%;
}
.checkout-login {
  padding-top: 50px;
}
.radio-right p {
  font-size: 18px;
  font-weight: bold;
  color: #595959;
  padding-left: 10px;
  padding-top: 3px;
  font-family: 'Helvetica_bold';
}
.radio-right p img {
  width: auto;
  margin-left: 20px;
  height: 35px;
}
.radio-right .form-group.col-sm-12 .col-sm-4 {
  padding-right: 0;
}
.radio-right .form-group.col-sm-12 .col-sm-4:last-child {
  padding-right: 15px;
}
.radio {
  float: left;
  clear: both;
  margin-bottom: 30px;
}
.radio-left{position:relative;}
.radio-left input[type="radio"] + label {
  background: #fff;
  border: 2px solid #a7a7a7;
  float: left;
  width: 30px;
  border-radius: 100%;
  height: 30px;
  margin-top: 5px;
}
.radio-left input[type="radio"] {
  position: absolute;
  top: 6px;
  left: 15px;
  opacity: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.radio-left.col-sm-2 {
  width: 60px !important;
}
.radio-left input[type="radio"]:checked + label:before {
  background: #a7a7a7;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  top: 12.3px;
  left: 23px;
  position: absolute;
}
.checkout.common-page .jumbotron.banner-head {
  background: #f8f8f8 !important;
}
.checkout-details .left-main h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
.col-sm-12.checkout-details .day h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
.credit-payment .radio-right.col-sm-10 {
  padding-left: 0;
  padding-right: 0;
  float: left;
}
.radio-right.col-sm-10 {
  padding-left: 0;
  padding-right: 0;
}
.checkout .pos-bottom .date-time-min .day-counter:before{top: -506px;height: 495px;}
.checkout .date-time-min p{font-size: 14px;}
.checkout .venue-duration span{font-size: 12px;}
.checkout-login h3, .checkout-second-step h3, .checkout-third-step h3{
  font-weight: bold;
  font-size: 22px;
}
.checkout-second-step h3 {
  margin-bottom: 0;
}
.dove-loc input.form-control {
  background: #fff url("/front/images/location.png") no-repeat left 20px center;
  background-size: 15px;
  padding: 0px 20px 0 50px !important;
}
.price-section {
  width: 95%;
  float: left;
  background: #fff;
  padding: 30px;
  box-shadow: 0px 8px 5px #e4e4e4;
  border-radius: 0 0px 10px 10px;
}
.place-order-btn {
  background: #c16147;
  color: #fff;
  border: 0;
  outline: 0;
  box-shadow: 0px 5px 5px #e9e9e9;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Helvetica_bold';
}
td.grand-total {
  font-size: 28px !important;
  font-weight: bold;
  color: #595959;
  font-family: 'Helvetica_bold';
}
.left-align{text-align:left;}
.center-align{text-align:center;}
.right-align{text-align:right;}
.price-section td {
  padding: 5px 10px; font-size: 14px;
}
.price-section h2 {
  font-weight: bold;
  color: #595959;
  font-size: 30px;
}
.price-section td.left-align img {
  width: 20px;
}
.checkout-details .col-sm-7.right-main {
  padding-left: 20px;
}
.right-main .col-sm-12 {
  float: left;
  width: 100%;
  padding: 0px 20px;

}

.right-main:not(.product-page) .col-sm-12:not(:first-child){
    margin-top: -25px;
}



.calendar_product {
  background: #fff;
  float: left;
  border: 1px solid #b9b9b9;
}
.calendar-top-area.col-sm-12 {
  padding: 10px;
}
.calendar-time-area span {
  position: relative;
  padding-left: 25px;
  width: 65%;
  float: left;
  height: 40px;
  vertical-align: middle;
  line-height: 14px;
  padding-top: 13px;
  margin-bottom: 5px;
}
.calendar-time-area img {
  width: 20px;
  position: absolute;
  left: 0;
  top: 8px;
}
.calendar-main-area.col-sm-12 {
  padding-top: 30px;
}
.time-zone.child-zone img {
  top: 5px;
}
.time-zone input.form-control.input-number {
  padding: 0;
  width: 40px !IMPORTANT;
  max-width: 40px;
  text-align: center;
  border: 0;
  outline: none;
  box-shadow: none;
  height: 35px;
  margin: 0;
}

.time-zone .input-group, .select-time-zone {
  float: right;
  width: 100px;
  text-align: right;
}
.calendar-time-area .time-zone span.input-group-btn {
  width: 30px;
  padding: 0;
  float: none;
}
button.btn-number.red-btn-round.plus-minus {
  background: #c16147;
  color: #fff;
  text-align: center;
  border: 0;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 100%;
  text-indent: unset;
  font-weight: bold;
  outline: none;
}
button.btn-number.red-btn-round.plus-minus span {
  padding-left: 0;
  height: auto;
  width: auto;
  padding: 0;
  line-height: normal;
  font-size: 24px;
  position: relative;
  top: -3px;
  float: none;
}
.select-time-zone select {
  font-size: 18px;
  border: 0;
  outline: none;
  box-shadow: none;
  text-align: right;
  width: auto;
  float: right;
  height: auto;
  padding-left: 5px;
  padding-right: 50px !important;
}
.calendar-time-area.col-sm-12:after {
  border-bottom: 2px solid #c16147;
  content: "";
  display: block;
  width: 100%;
  float: left;
  height: 2px;
  background: #c16147;
  margin: 20px auto -10px;
}
.calendar-price-table.col-sm-12 table td {
  color: #595959;
  padding-right: 10px;
  padding-bottom: 5px;
}
.calendar-price-table button.place-order-btn {
  padding: 20px 10px;
  margin-bottom: 20px;
}
a.red-link {
  color: #c16147;
  text-align: center;
  display: block;
  text-decoration: underline;
}
.calendar-heart img {
  width: 40px;
  margin-top: -3px;
}
.calendar-social li {
  float: left;
  margin-right: 10px;
}
.calendar-social li a.fa {
  background: #b3b3b3;
  color: #fff;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 20px;
  text-decoration: none;
  transition: ease-in 0.2s all;
}
.calendar-social li a.fa:hover {
  background: #333;
}
.calendar-social li a.fa-pinterest {
  background: #a1a1a1;
}
.calendar-social li a.fa-facebook {
  background: #888888;
}
.calendar-social li a.fa-instagram {
  background: #6a6a6a;
}
.calendar-social-sharing p {
  color: #595959;
}
span.like-heart {
  position: absolute;
  z-index: 9;
  left: 8px;
  top: 6px;
  width: 35px;
}
p.sub-head {
  color: #595959;
  font-weight: bold;
  font-size: 20px;
  padding-top: 13px;
  margin-bottom: 20px;
}
.looking-for li {
  float: left;
  width: 29%;
  margin-right: 4%;
  margin-bottom: 4%;
}
.looking-for li {
  float: left;
  width: 31%;
  margin-right: 2%;
  margin-bottom: 4%;
  background: #fff;
  box-shadow: 0px 5px 10px #e8e8e8;
  border-radius: 5px;
  overflow: hidden;
  cursor:pointer;
}

.looking-img img {
  height: 100%;
}

.looking-img {
  width: 28%;
  float: left;
  height: 80px;
  margin-right: 4%;
  overflow: hidden;
}
.looking-descp {
  float: right;
  width: 68%;
  padding-top: 10px;
}
.looking-descp p {
  font-size: 15px;
  margin-bottom: 0;
  line-height: 14px;
  height: 50px;
  overflow: hidden;
}
.looking-descp h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}
.looking-for li.active h4, .looking-for li.active p, .looking-for li:hover h4, .looking-for li:hover p{
  color: #fff !important;
}
.looking-for li.active, .looking-for li:hover {
  background: #c16147;
}
a.load-more {
  text-decoration: none;
  color: #535353;
  list-style: none;
  padding: 15px 50px;
  border: 1px solid #535353;
  border-radius: 40px;
  margin: 0 auto 20px;
}
.modal-content {
  background: #f8f8f8 !important;
}
input.choose-fav-checkbox {
  position: absolute;
  z-index: 99;
  opacity: 0;
  font-size: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
input.choose-fav-checkbox:checked + label {
  border: 2px solid #c16147;
  border-radius: 5px;
}
input.choose-fav-checkbox + label {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
}
.choose-fav .col-sm-3.discover-inner {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  color:#595959!important;

}
body a:hover {
  color: #000000;
  text-decoration:none;
}
.add-exp-no span {
  color: #595959;
  font-size: 30px;
  font-weight: bold;
  width: 50px;
  display: block;
  text-align: center;
  height: 50px;
  border: 3px solid #595959;
  border-radius: 100%;
  line-height: 40px;
}
.add-exp-no {
  margin-right: 1%;
  margin-left: 2%;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p {
  color: #595959;
}
.day-time-book p {
  font-size: 16px;
  margin-bottom: 10px;
}
.add-what-time h3 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}
.day-time-book select.form-control {
  background-image: url(/front/images/watch.png) , url(/front/images/select_arrow.png);
  background-size: 25px, 12px;
  background-repeat: no-repeat;
  background-position: left 10px center, right 14px center;
}

select.form-control{
  background-image: url(/front/images/select_arrow.png);
  background-size: 12px;
  background-repeat: no-repeat;
  background-position:  right 14px center;
  background-color: #fff;
}

select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select:-moz-focusring {
  color: transparent;
}
.first-step-popup, .second-step-popup, .third-step-popup {
  margin-bottom: 30px;
}
.common-time-block .time-check {
  color: #595959;
  font-weight: bold;
  font-size: 28px;
}
.time-check a.sell-out {
  position: relative;
  width: 100%;
  display: block;
  left: 0;
  font-size: 11px;
  text-transform: uppercase;
  padding: 3px 5px;
  border-radius: 0;
  top: 10px;
  text-align: center;
}
.time-check a.sell-out:hover {
  color: #fff;
}
.ruppe-check p.price {
  text-align: right;
  font-weight: bold;
  font-size: 30px;
  color: #c16147;
  margin-bottom: 0;
}
p.bottom-price {
  font-size: 11px;
  text-align: right;
  margin-bottom: 0;
}
.white-block.common-time-block {
  background: #fff;
  border-radius: 5px;
  padding: 10px 12px 30px;
  box-shadow: 0px 5px 10px #e8e8e8;
  margin-left: 2%;
  margin-bottom: 2%;
}
.white-block.common-time-block.active{background: #c16147; color:#fff;}
.white-block.common-time-block.active .ruppe-check p.price, .common-time-block.active .time-check,
.common-time-block.active p.bottom-price{color:#fff;}
p.bottom-price span {
  float: left;
}
#calendar-popup h5 {
  font-weight: bold;
  font-size: 2rem;
  padding-left: 30px;
}
#calendar-popup .modal-header {
  border: 0;
}
.fourth-step-popup .place-order-btn {
  max-width: 340px;
  padding: 20px;
  margin: 40px auto;
}
.discover-experience-main .product-details h2 {
  margin-bottom: 30px;
}
.product-banner{position:relative;}
.product-banner a.grey-btn {
  position: absolute;
  z-index: 9;
  bottom: 3%;
  left: 2%;
  width: 270px;
}
.map {
  margin-top: 40px;
}
.calendar-social-sharing.col-sm-12 {
  padding-top: 0;
}
.calendar-time-area.col-sm-12 {
  padding-top: 0;
}

/* calendar product page */


.calendar, .calendar_weekdays, .calendar_content {
  max-width: 340px;
}
.calendar-new {
  margin: auto;
  font-family:'Muli', sans-serif;
  font-weight: 400;
}
.calendar_content, .calendar_weekdays, .calendar_header {
  position: relative;
  overflow: hidden;
}
.calendar_weekdays div {
  display:inline-block;
  vertical-align:top;
}
.calendar_weekdays div, .calendar_content div {
  width: 14.28571%;
  overflow: hidden;
  text-align: center;
  background-color: transparent;
  color: #6f6f6f;
  font-size: 14px;
  height: 33px;
  line-height: 33px;
}
.calendar_content div {
  border: 1px solid transparent;
  float: left;
}
.calendar_content div:hover {
  border: 1px solid #dcdcdc;
  cursor: default;
}
.calendar_content div.blank:hover {
  cursor: default;
  border: 1px solid transparent;
}
.calendar_content div.past-date {
  color: #d5d5d5;
}
.calendar_content div.today {
  font-size: 14px;
  border: none;
  background: #c16147;
  color: #fff !IMPORTANT;
  border-radius: 100%;
  width: 33px;
  margin: 0px 7px;
  text-align: center;
  height: 33px;
  padding: 0;
  line-height: 33px;
  font-weight: bold;
  text-indent: -1px;
}
.calendar_content div.selected {
  background-color: #f0f0f0;
}
.calendar_header {
  width: 100%;
  text-align: center;
}
.calendar_header h2 {
  padding: 0 10px;
  font-family:'Muli', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #333;
  float:left;
  width:70%;
  margin: 0 0 10px;
}
button.switch-month {
  background-color: transparent;
  padding: 0;
  outline: none;
  border: none;
  color: #333;
  float: left;
  width:15%;
  transition: color .2s;
  outline: none !important;
}
button.switch-month:hover {
  color: #c16147;
}
.calendar_weekdays div {
  color: #333 !important;
  font-weight: bold;
}
.blank {
  height: 0 !important;
}

#calendar-popup button.close {
  float: right;
  font-size: 3.5rem;
  line-height: 1;
  color: #3a3a3a !important;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  font-weight: lighter;
  margin-top: -30px !important;
  margin-right: -10px !important;
  opacity: 1;
}
.datepicker-days td {
  padding: 5px 10px;
}
.datepicker table tr td.day:hover, .datepicker table tr td.day.focused {
  background: #c16147 !important;
  color: #fff !important;
}

.social-footer ul li a {
  background: #eeeeee;
  color: #fff;
  display: block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
}
.social-footer ul li a.fa.fa-twitter { background: #77cdf0;}
.social-footer ul li a.fa.fa-pinterest { background: #ec5657;}
.social-footer ul li a.fa.fa-facebook { background: #537cbe;}
.social-footer ul li a.fa.fa-instagram {background: #69696b;}

@media (min-width: 576px){
  .modal-dialog {max-width: 1200px !important;  width: 90% !important;}
}

@media only screen and (max-width: 1280px) and (min-width: 640px) {
  .jumbotron { padding: 2rem 0rem !important;}
  .container {max-width: 100% !important;}
  .explore-amazing .col-md-4{width: 55% !important; max-width: 55% !important; flex: 0 0 55.333333%;}
  .menu-bar ul.navbar-nav {margin-top: 0;}
  .banner-head {background-size: auto 100% !important;}
  .menu-bar ul.navbar-nav {margin-top: 0;}
  .search-bar{ padding-bottom: 0; width: 20%;}
  li.country-symbol{padding: 6px 10px 0 10px;}
  /*.logo img { width: 130px;}*/
  .menu-bar .container-fluid { padding-left: 0;  padding-right: 0;}
  .menu-bar{ padding-top: 20px;}
  .custom-travel-main{ background-size: auto 100%;}
  .grey-btn{ font-size: 16px;}
  .grey-btn span{line-height: 22px;}
  .col-sm-4.inspiration-travel-inner p { bottom: 0px; font-size: 16px;left: 33px;}
  .col-sm-4.inspiration-travel-inner.cross1 p {left: 35px; bottom: 2px; font-size: 12px;}
  .col-sm-4.inspiration-travel-inner.cross2 p {bottom: 3px; font-size: 13px; left: 40px;}
  .social-footer ul li { width: 35px; height: 35px; margin-right: 2px;}
  .social-footer ul li a{    height: 35px; line-height: 35px;}
  .footer-links li {height: 30px;}
  .footer-links li a, .footer-first-col p{ font-size: 13px;}
  .company-inner-data{width: 100%; text-align: center;    padding-left: 0;}
  .company-features-inner img { float: none; width: auto; margin: 0 auto; display: block;}
  .black-banner ul.inclusions li img {width: 60px;}
  .product-banner a.grey-btn{bottom: 13%;}
  .product-banner .col-sm-3 img {height: 45%;}
  .pro-pic-inner img{    height: 100%;}
  .product-details .venue-desc p{font-size: 13px;}
  .venue-title h3{ padding: 5px 0; font-size: 17px;}
  .calendar-top-area h2, .calendar-top-area p{font-size: 14px;}
  .pos-top, .pos-bottom {min-height: 490px;}
  .pos-bottom .date-time-min .day-counter:before{top: -599px; height: 588px;}
  .date-time-min p{    font-size: 13px;}
  .date-time-min span{    font-size: 20px;}
  .col-sm-10.customer-review { width: 100%; -ms-flex: 0 0 100%%; flex: 0 0 100%%; max-width: 100%;}
  .map-duration span{ height: 30px;  font-size: 14px;}
  .date-time-min .day-counter:after{height: 360px;}
  .checkout .pos-top, .checkout .pos-bottom { min-height: 340px;}
  td.grand-total{font-size:20px !important;}

}
@media only screen and (max-width: 1023px) and (min-width: 640px) {
  .add-activity{ font-size: 16px; padding: 15px 38px;}
  .product-details h2 { font-size: 1.5rem;}
  .calendar-social li{margin-right: 3px;}
  .right-main .col-sm-12{ padding: 20px 5px;}
  .calendar-social li a.fa{width: 30px; height: 30px; text-align: center; line-height: 30px;font-size: 18px;}
  .col-sm-10.customer-review { width: 100%; -ms-flex: 0 0 100%%; flex: 0 0 100%%; max-width: 100%;}
  .subscribe-form input[type="submit"]{font-size: 15px;}
  .footer-links li {height: auto;}
  input.form-control, select.form-control{ font-size: 14px;}
  .col-sm-3.footer-fourth-col{padding-left: 5px; padding-right: 5px;}
  .subscribe-newsletter h2{font-size:21px;}
  .modal-dialog{width:98% !important;}
  .calendar-top-area .calendar-top-area-left, .calendar-top-area-right{width: 100%; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; text-align: center;}
  .calendar-top-area-right.col-sm-5 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; width: 100%; text-align: center;}
  .calendar-top-area h2, .calendar-top-area p {font-size: 14px; text-align: center;}
  .day-exp-book.col-sm-4, .day-time-book.col-sm-4 {-ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%;}
  .looking-for li{width: 48%;}
  .choose-fav .col-sm-3.discover-inner {-ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%;}
  .white-block.common-time-block { -ms-flex: 0 0 48%; flex: 0 0 48%; max-width: 48%;}
}
@media only screen and (max-width: 640px) {
  .menu-bar a.nav-link:not(.special-link){ color: #333333!important}
  .menu-bar a.nav-link.special-link{ margin-right: 0px; margin-bottom: 10px;}
  .navbar-toggler{ background-color: #c16147 !important; margin-top: 10px;}
  .explore-amazing .col-md-4 h2 {font-weight: bold; color: #333333; font-size: 22px; line-height: 28px; padding-bottom: 20px;}
  input.form-control, select.form-control { padding-right: 10px; font-size: 14px;}
  .logo img { width: 130px; height: auto; margin-top: 0px}
  .search-bar{display: none;}
  nav.navbar.navbar-expand-sm.navbar-dark { padding-right: 0; padding-left: 0;}
  .menu-bar { float: right; width: 100%; position: absolute; right: 0;text-align: right;
    z-index: 9; border-radius: 5px; padding: 0;}
    div#collapsibleNavbar { padding: 10px; position: relative;top: 67px; background: #efefef; border-radius: 15px; border: 5px solid #c16147;
      padding-bottom: 30px; padding-right: 20px;}
      .menu-bar ul.navbar-nav { margin-top: 0;}
      .navbar-toggler { background-color: #c16147 !important; float: right; position: absolute; right: 0; top: 0;}
      .menu-bar .container-fluid { padding: 0;}
      li.country-symbol { padding: 6px 0px 10px 10px}
      .banner-head{height: 610px;}
      .search-place input[type="submit"]{ background-position: left 50px center;  width: 100%;}
      .company-features-inner{max-width: 100% !important;margin-bottom: 4%; margin-right: 0;}
      .discover-experience-head h2 { font-size: 1.5rem;}
      .discover-experience-head{ padding: 60px 0 30px;}
      .discover-inner {margin-bottom: 10%;}
      .custom-travel-main{    margin: 40px 0 40px;    background-size: auto 100%;}
      .grey-btn{font-size: 16px;}
      .red-area p{ font-size: 2.8rem;}
      .jumbotron {padding: 2rem 0rem;}
      .explore-amazing{ margin-top: 20px;}
      .col-sm-4.inspiration-travel-inner p {bottom: 5px; font-size: 17px;left: 40px;}
      .col-sm-4.inspiration-travel-inner.cross2 p {bottom: 0;}
      .col-sm-4.inspiration-travel-inner.cross1 p {left: 33px; bottom: 0;}
      .suggestion-tag li a { padding: 10px 30px; margin: 0 5px 10px;font-size: 12px;}
      .footer-banner .col-sm-3 {width: 100% !important; max-width: 100%; flex: 0 0 100%;}
      .footer-links { padding-top: 30px; min-height: auto;height: auto; position: relative; padding-bottom: 30px;}
      .red-btn-footer {margin-top: 0; position: relative;}
      .jumbotron.footer-banner{ padding: 2rem 0rem;}
      .col-sm-3.footer-fourth-col { width: 100% !important; max-width: 100% !important; flex: 0 0 100%;}
      .grey-btn span{line-height: 22px;}
      .common-page a.nav-link, .common-page span.currency { color: #ffffff !important;}
      .common-page .login-registration a { font-weight: bold; color: #000000; background: #ffffff;}
      .black-banner ul.inclusions{width:100%;}
      .black-banner ul.inclusions li { width: 50%; max-width: 50%;}
      .jumbotron.black-banner{padding-bottom: 40px;}
      .product-details h2 {font-size: 1.5rem;}
      .product-details p {text-align: left;}
      .calendar-time-area span{width:60%;}
      .calendar_header h2 { font-size: 1.1rem;}
      .calendar-price-table button.place-order-btn{ padding: 10px 10px;}
      .calendar-social-sharing.col-sm-12 p {margin-bottom: 5px;}
      .calendar-heart img {width: 40px; margin-top: 0;}
      .calendar-social.col-sm-8 { margin-bottom: 0; width: 75%; padding-right: 0;}
      .calendar-heart.col-sm-4{width:25%;}
      .customer-review .col-sm-11 { width: 70%; float: right; padding-right: 0;}
      .customer-review .col-sm-1 {width: 70px; text-align: left; padding-bottom: 0;}
      .rating-block h2 { height: auto;}
      .customer-review .col-sm-1 img { width: 50px; height: 50px; margin-bottom: 20px;}
      .customer-review .col-sm-10 { padding-left: 0; padding-right: 0; margin-bottom: 20px; width: 75%;}
      .customer-review { padding-bottom: 10px; margin-bottom: 40px;}
      .rating-block h2{font-size: 1.5rem;}
      .pro-desc-inner{width: 100%; position: relative; z-index: 9;}
      .product-details .col-sm-12.fleft { padding: 0;}
      .product-details .col-sm-8.left-main { padding-right: 0; padding-left: 0;}
      .product-details .col-sm-8.pro-desc { padding-right: 0;}
      .pos-top, .pos-bottom{  min-height: inherit; padding-right: 0;}
      .pos-bottom .date-time-min{position: relative;}
      .add-activity{ position: relative; right: 0; background: #c16147; color: #fff;
        border-radius: 40px; border: 0; outline: none; font-size: 16px; padding: 10px 40px; z-index: 1; margin-top: 20px;}
        .venue-action a{ margin-right: 2px; font-size: 14px;}
        .common-page .jumbotron.banner-head{background: #f8f8f8 !important; height: 110px;}
        .jumbotron.banner-head .container { padding-left: 0; padding-right: 0;}
        .black-banner ul.inclusions li p{font-size: 16px;}
        .day h2{ padding: 10px 0;}
        .product-banner .col-sm-6 { height: auto;}
        .product-banner .col-sm-3 img { height: auto;}
        .product-banner .col-sm-3 {height: auto;}
        #calendar-popup h5{font-size: 1rem; padding-left: 10px;}
        #calendar-popup button.close{font-size: 2.5rem;}
        p.sub-head{ font-size: 16px;}
        .add-what-time h3 {font-size: 18px;}
        .calendar-social li{margin-right: 5px;}
        .calendar.calendar-first { margin-bottom: 30px;}
        .looking-for li{width:100%;}
        a.load-more{margin-top:20px;}
        .time-check a.sell-out{ width: auto; display: inline; left: 10px; padding: 3px 5px; top: -5px; margin-bottom: 20px;}
        .white-block.common-time-block{margin-bottom: 5%;}
        p.bottom-price {font-size: 12px;}
        .fourth-step-popup .place-order-btn{ padding: 10px; margin: 20px auto;}
        div#calendar-popup {padding-right: 0 !important;}
        .checkout-details .left-main h2{font-size: 1.5rem;}
        .checkout-login { padding-top: 30px;}
        .checkout-login h3, .checkout-second-step h3, .checkout-third-step h3{font-size: 18px;}
        .checkout .date-time-min p{text-align:left;}
        .col-sm-5.left-main, .col-sm-7.right-main {-ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%;}
        .subscribe-form .form-group.calendar { max-width: 100%;}
        .radio-right .col-sm-4 {width: 33.33%;}
        .radio-right .form-group.col-sm-12{ width: 100%; padding-right: 0;}
        .credit-payment .radio-right.col-sm-10, .radio-right.col-sm-10{  width: 75%;}
        .checkout .checkout-details input.form-control, .checkout .checkout-details select.form-control {padding: 0 10px;}
        .radio-right p img{margin-left:2px; height: 27px;}
        .checkout-details .col-sm-7.right-main { padding-left: 0; padding-right: 0px;}
        .price-section { width: 100%; padding: 15px;}
        .pro-pic-inner img{height:100%;}
        .checkout-details .price-section td {  padding: 5px 10px; font-size: 14px;display: block; text-align: left;}
        .jumbotron.footer-banner{ background-position: bottom 0px center;}
        .subscribe-newsletter h2{font-size: 24px;}
        .subscribe-newsletter p { font-size: 15px;}
        .checkout-second-step textarea { font-size: 14px;}
        .col-sm-12.checkout-details .day h2{font-size: 1.5rem;}
      }





.search-widget-categories{

}


.search-widget-categories a{
  display: inline-block;
  text-decoration: none;
  color: #535353;
  list-style: none;
  padding: 10px 20px;
  border: 1px solid #535353;
  border-radius: 40px;
  margin: 0 10px 20px;
}

.talixo-alert{
  background-color: #fff;
  border: 4px solid #c16147;
  border-radius: 6px;
  padding: 10px 15px;
  margin-bottom: 40px;
}

.talixo-alert h1{
    color: #c16147;
}

.addon{

  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.addon .cover{
  height: 80px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.addon .content{
  padding: 15px;
}

.addon .content .price-info img{
  height: 25px;
}
.addon .content .price-info img:last-child{
  height: 34px;
}

.addon h3{
  font-size: 1.25rem;
}

.addon p{
  font-size: 0.9rem;
}

.addon .btn-group-toggle .btn:not(.active) span.add{
    display: inline;
}

.addon .btn-group-toggle .btn:not(.active) span.remove{
    display: none;
}

.addon .btn-group-toggle .btn:not(.active) span.add{
    display: inline;
}

.addon .btn-group-toggle .btn.active span.remove{
    display: inline;
}

.addon .btn-group-toggle .btn.active span.add{
    display: none;
}

.btn-addRemoveAddon{
  transition: 0.3s all;
  cursor: pointer;
  background: #f8f8f8 !important;
  border: 5px solid #c16147 !important;
  border-radius: 30px!important;
  box-shadow: 0px 6px 8px rgba(0,0,0,0.25)!important;
}

.btn-addRemoveAddon.active{
    background: #c16147 !important;
    color: #fff;
}

.btn-addRemoveAddon.active:hover{
  color: #fff;
}

.checkout-addons{
 margin-bottom: 15px;
 border: 1px solid #c16147;
 border-radius: 10px;
 padding: 15px 0px;
 background: #f8f8f8 !important;
}
.checkout-addons .checkout-addon{
  color: #595959;
}


.nav-link{
  text-shadow: 0px 2px 2px rgba(0,0,0,0.75);
}

.common-page .nav-link{
  text-shadow: none!important;
}

.mapLabel{
  text-transform: uppercase;
    font-size: 14px;
    color: rgb(89,89,89);
    font-weight: 900;
    border-left: 4px solid #c16147;
    padding-left: 5px;
}

.voucher-grant{
    text-align: center;
    color: #595959;
    background: #fff;
    display: inline-block;
    padding: 35px;
    border-radius: 8px;
    box-shadow: 0px 0px 14px rgba(0,0,0,0.05);
    margin-bottom: 60px;
}

.voucher-grant p{
    margin: 0px;
}


